@media (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

@media (max-width: 359px) {
  .home__img,
  .share__img,
  .send__img {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .send__container,
  .share__container,
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .home__container {
    padding: 5rem 0 0;
  }

  .home__img {
    order: 1;
  }

  .section-title,
  .share__title,
  .home__title,
  .section-title-center,
  .share__data {
    font-size: 1.8rem;
  }

  .section-title-center,
  .send__description,
  .share__data {
    text-align: center;
  }

  .share__data .button {
    position: relative;
    float: left;
  }

  .share__img {
    order: -1;
  }

  .home__img,
  .share__img,
  .send__img {
    width: 100%;
  }

  .send__description {
    font-size: 1.1rem;
  }

  .accessory__title {
    font-size: 1.2rem;
  }

  .accessory__category {
    font-size: 1rem;
  }

  .accessory__price {
    font-size: 1rem;
  }

  .footer__title {
    font-size: 1.4rem;
  }

  .footer__link {
    font-size: 1.2rem;
  }

  .footer__description {
    font-size: 1.2rem;
  }

  .footer__footer {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 7rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__list {
    display: flex;
    align-items: center;
  }

  .nav__item {
    margin-left: var(--mb-5);
    margin-bottom: 0;
  }

  .nav__toggle {
    display: none;
  }

  .home__container {
    padding: 7rem 2rem 0;
  }

  .footer__container,
  .share__container {
    padding: 0 2rem;
  }

  .accessory__container {
    grid-template-columns: repeat(3, 224px);
    justify-content: center;
  }

  .accessory__content {
    padding: 0.5rem 1.5rem 1.5rem;
  }

  .accessory__img {
    width: 120px;
    margin-bottom: var(--mb-2);
  }

  .accessory__title,
  .accessory__category {
    text-align: initial;
  }

  .change-theme {
    position: initial;
    margin-left: var(--mb-4);
  }

  .accessory__button {
    padding: 0.75rem;
  }

  .send {
    background-color: var(--normal-font-size);
  }
  .send__container {
    background-color: var(--first-color);
    border-radius: 0.5rem;
    padding: 2rem;
  }
}

@media (min-width: 968px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .share__img,
  .home__img,
  .send__img {
    width: 469px;
  }

  .home__container,
  .share__container,
  .send__container {
    column-gap: 5rem;
  }

  .active-link::after {
    height: 10px;
    width: 10px;
  }
}
